.hidden{
 opacity: 0;
}




#mouse_pointer .fadeIn{
  animation: fadeTo 1s ease-in forwards;
}

.fadeOut{
  animation: fadeAway 2s ease-in forwards;
}



/*#leftCircle .leftBallFadeIn{
  animation: fadeTo 3s ease-in forwards;
}

#middleCircle .middleBallFadeIn{
  animation: fadeTo 4s ease-in forwards;
}

#rightCircle .rightBallFadeIn{
  animation: fadeTo 5s ease-in forwards;
}*/


@keyframes fadeAway{
  from{
    opacity: 1;
  }
  to{
    opacity: 0;
  }
}

@keyframes fadeTo{
  from{
   opacity: 0;
  }
  to{
    opacity: 1;
  }
}