.hidden{
 opacity: 0;
}




#mouse_pointer .fadeIn{
  animation: fadeTo 1000s ease-in forwards;
}

.fadeOut{
  animation: fadeAway 1000ms ease-in forwards;
}



#leftCircle .fadeIn{
  animation: fadeTo 2000ms ease-in forwards;
}

#middleCircle .fadeIn{
  animation: fadeTo 3000ms ease-in forwards;
}

#rightCircle .fadeIn{
  animation: fadeTo 4000ms ease-in forwards;
}


@keyframes fadeAway{
  from{
    opacity: 1;
  }
  to{
    opacity: 0;
  }
}

@keyframes fadeTo{
  from{
   opacity: 0;
  }
  to{
    opacity: 1;
  }
}